.mapAggrContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  border-radius: var(--border-radius-default);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background-color: #d9ecff;
}

.selectTitle {
  align-self: flex-end;
  text-align: center;
  width: 25%;
  font-size: 18px;
  line-height: 22px;
  color: #333;
  margin-bottom: 20px;
}

.heatMapContainer {
  flex-grow: 1;
  border-radius: var(--border-radius-default);
  border: 0.8px solid #cfdbe9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
