.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 8px;
  //height: calc(100vh - 170px);
}

.content {
  position: relative;
  bottom: 40px;

  .welcomeWord {
    font-size: 30px;
    line-height: 40px;
    color: black;
    font-weight: bold;
  }

  .title {
    font-size: 40px;
    height: 62px;
    font-weight: bold;
    color: #4096ff;
  }

  .desc {
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    color: lightslategray;
  }
}

.bgImage {
  background: url('/images/welcome-bg.png') no-repeat;
  background-size: contain;
  width: 320px;
  height: 240px;
}
