/* Global Color Variables for Operation-Related Theme */
:root {
  /* Primary colors */
  --color-primary-dark: #004085; /* 深蓝色：用于主要的导航栏背景 */
  --color-primary-bright: #007bff; /* 亮蓝色：用于操作按钮或重要状态的突出 */

  /* Accent colors */
  --color-accent-orange: #ffa500; /* 橙色：用于呼吁行动（CTA）按钮 */
  --color-accent-green: #28a745; /* 绿色：用于展示积极状态（如增长、成功等） */

  /* Text colors */
  --color-text-primary: #333333; /* 默认文本颜色 */
  --color-text-primary-light: #add8e6; /* 亮文本颜色 */
  --color-text-primary-dark: #003366; /* 深色文本颜色 */
  --color-text-secondary: #6c757d; /* 次要文本颜色 */

  /* Background colors */
  --color-bg-antd-default: #f5f5f5;
  --color-background-light: #f8f9fa; /* 浅背景色，用于卡片背景等 */
  --color-background-dark: #343a40; /* 深色背景，用于侧边栏等 */

  /* Content area background colors */
  --bg-color-default: #ffffff; /* 白色背景 */
  --bg-color-breadcrumb-primary: #edf2f7; /* 浅蓝灰色 */
  --bg-color-breadcrumb-secondary: #e0e7f1; /* 浅灰蓝色 */
  --bg-color-breadcrumb-third: #e8e8e8; /* 淡灰色 */

  /* Border and shadow */
  --border-default: 1 solid #d9d9d9; /* 默认边框: 提升边界感 */
  --border-radius-default: 8px; /* 默认的圆角半径 */
  --box-shadow-default: 0 4px 8px rgba(0, 0, 0, 0.1); /* 轻微阴影效果 */
}

/* 消除默认样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 覆盖 Ant Design 的布局背景色 */
.ant-layout {
  background-color: var(--bg-color-breadcrumb-primary);
}

/* 使用深蓝色 */
.logo-text-dark-blue {
  color: var(--color-text-primary-dark);
}

.btn-secondary {
  border-radius: var(--border-radius-default);
  background-color: var(--color-primary-bright);
  color: white;
}

.btn-secondary:hover {
  background-color: var(--color-primary-dark);
}

.cancel-button {
  background-color: #f5f5f5; /* 淡灰色背景，低调 */
  color: #333; /* 深灰色字体，易读 */
  border: 1px solid #d9d9d9; /* 边框与背景相匹配 */
  border-radius: var(--border-radius-default); /* 圆角一致 */
  padding: 8px 16px; /* 增加按钮的填充，保持适当大小 */
  cursor: pointer; /* 鼠标悬停时显示为指针 */
  transition: background-color 0.3s ease; /* 添加过渡效果 */
}

.cancel-button:hover {
  background-color: #e6e6e6; /* 悬停时稍微加深背景色 */
}

.cta-button {
  color: #fff;
  background-color: var(--color-accent-orange);
  border-radius: var(--border-radius-default);
  box-shadow: var(--box-shadow-default);
}

.success-message {
  color: var(--color-accent-green);
}

/* ant 固定列的视觉样式 */
.ant-table-cell-fix-left {
  background-color: #fff;
  font-weight: bold;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Background styling */
.sidebar {
  background-color: var(--color-primary-dark);
  color: var(--color-text-primary);
}

/* 项目 CSS 开始 */
.welcome {
  font-size: 30px;
  margin-top: 200px;
  text-align: center;
}

/* 侧边栏菜单 */
.sidebar-submenu {
  width: 100%;
}

.search-box {
  padding: 16px;
  color: #000;
  background-color: var(--bg-color-breadcrumb-secondary);
  border: var(--border-default);
  border-radius: var(--border-radius-default);
  box-shadow: var(--box-shadow-default);
}

.base-table {
  border-radius: var(--border-radius-default);
  color: #000;
  background-color: var(--bg-color-breadcrumb-secondary);
  box-shadow: var(--box-shadow-default);
  border: var(--border-default);

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
    padding: 16px;

    .action-btn {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.search-box + .base-table {
  margin-top: 15px;
}
