/* 全局主题配色: default/light */
:root {
  --header-bg: #ffffff;
  --header-text: #000000;
  --sidebar-bg: #f0f0f0;
  --sidebar-text: #333333;
  --content-bg: #ffffff;
  --content-text: #000000;
  --footer-bg: #f0f0f0;
  --footer-text: #333333;

  --gray-100: #ececec;
  --gray-200: #e3e3e3;
  --gray-300: #cdcdcd;
  --gray-400: #b4b4b4;
  --gray-500: #9b9b9b;
  --gray-600: #676767;
  --gray-700: #424242;
  --gray-750: #2f2f2f;
  --gray-800: #212121;
  --gray-900: #171717;
  --gray-950: #0d0d0d;

  /* Primary colors */
  --color-primary-dark: #004085; /* 深蓝色：用于主要的导航栏背景 */
  --color-primary-bright: #007bff; /* 亮蓝色：用于操作按钮或重要状态的突出 */

  /* Accent colors */
  --color-accent-orange: #ffa500; /* 橙色：用于呼吁行动（CTA）按钮 */
  --color-accent-green: #28a745; /* 绿色：用于展示积极状态（如增长、成功等） */

  /* Text colors */
  --color-text-primary: #333333; /* 默认文本颜色 */
  --color-text-primary-light: #add8e6; /* 亮文本颜色 */
  --color-text-primary-dark: #003366; /* 深色文本颜色 */
  --color-text-secondary: #6c757d; /* 次要文本颜色 */

  /* Background colors */
  --color-bg-antd-default: #f5f5f5;
  --color-background-light: #f8f9fa; /* 浅背景色，用于卡片背景等 */
  --color-background-dark: #343a40; /* 深色背景，用于侧边栏等 */

  /* Content area background colors */
  --bg-color-default: #ffffff; /* 白色背景 */
  --bg-color-primary: #edf2f7; /* 浅蓝灰色 */
  --bg-color-secondary: #e0e7f1; /* 浅灰蓝色 */
  --bg-color-third: #e8e8e8; /* 淡灰色 */

  /* Border and shadow */
  --border-default: 1 solid #d9d9d9; /* 默认边框: 提升边界感 */
  --border-radius-default: 8px; /* 默认的圆角半径 */
  --box-shadow-default: 0 4px 8px rgba(0, 0, 0, 0.1); /* 轻微阴影效果 */
}

/* 消除默认样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 覆盖 Ant Design 的布局背景色 */
.ant-layout {
  background-color: var(--bg-color-primary);
}

/* ant 固定列的视觉样式 */
.ant-table-cell-fix-left {
  background-color: #fff;
  font-weight: bold;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* 使用深蓝色 */
.logo-text-dark-blue {
  color: var(--color-text-primary-dark);
}

.btn-primary {
  border-radius: var(--border-radius-default);
  background-color: var(--color-primary-bright);
  color: white;
}

.btn-primary:hover {
  background-color: var(--color-primary-dark);
}

.cta-button {
  color: #fff;
  background-color: var(--color-accent-orange);
  border-radius: var(--border-radius-default);
  box-shadow: var(--box-shadow-default);
}

.success-message {
  color: var(--color-accent-green);
}

/* Background styling */
.sidebar {
  background-color: var(--color-primary-dark);
  color: var(--color-text-primary);
}

/* 项目 CSS 开始 */
.welcome {
  font-size: 30px;
  margin-top: 200px;
  text-align: center;
}

/* 侧边栏菜单 */
.sidebar-submenu {
  width: 100%;
}

.search-box {
  padding: 16px;
  color: #000;
  background-color: var(--bg-color-secondary);
  border: var(--border-default);
  border-radius: var(--border-radius-default);
  box-shadow: var(--box-shadow-default);
}

.base-table {
  border-radius: var(--border-radius-default);
  color: #000;
  background-color: var(--bg-color-secondary);
  box-shadow: var(--box-shadow-default);
  border: var(--border-default);

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
    padding: 16px;

    .action-btn {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.search-box + .base-table {
  margin-top: 18px;
}
